.SignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed; /* or absolute */
    top: 20%;
    left: 40%;
}

.button1{
    background-color: #6f567d; /* Green */
    border: 2px solid whitesmoke; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  
}

.button1:hover{
    background-color: white; /* Green */
  color: gray;
  border: 2px solid gray; /* Green */
}

.form{
    align-items: center;
}
