.CommentView {
    display: flex;
    flex-direction: column;

    width: 400px;
    border-style: groove;
}

.user {
    transition-duration: .04s;
    text-indent: 5px;
}
.user:hover{
    color: purple;
    text-decoration: underline;
}

.commented{
    text-indent: 5px;
}