.Header{
    border: 5px solid #555;
    width: 300px;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  
  .flex-container {
      display: flex;
      align-items: center;
      align-content:center;
    }
    
    .flex-container > div {
      margin: 0px;
      padding: 5px;
      font-size: 10px;
    }

    .back_button {
        position: relative;
        width: 10%;
      }
     
      .back_button :hover {
        opacity: 50%
      }  
      
      .back_button img {
        width: 40%;
        height: auto;
      }
      
      
      .back_button .btn {
        position: absolute;
        top: 30%;
        left: 30%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
        color: white;
        font-size: 16px;
        
        border: none;
        cursor: pointer;
        border-radius: 5px;
      }




     
      .content{
        border: 1px solid #555;
      }
      