.Notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.flex-container-notifications {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content:center;
    width: 300px;
  }
  
  .flex-container > div {
    margin: 0px;
    padding: 5px;
    font-size: 10px;
  }

.back_button {
    position: relative;
    width: 10%;
  }

.back_button :hover {
  opacity: 50%
}
  
.back_button img {
    width: 40%;
    height: auto;
}