html,body {
    background: #efefef;
    font-family: "Arial";
}

.flex-container {
    bottom: 50px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}


.Profile {
    padding: 30px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfileHeader {
    font-size: 14px;
    line-height: 18px;
    text-align: start;
    flex-basis: 0;
   
}

