html,body {
    background: #efefef;
    font-family: "Verdana";
}

.flex-container {
    bottom: 50px;
    align-items: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative; 
    left: 40%;
}


.Profile {
    padding: 30px 20px 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.ProfileHeader {
    font-size: 14px;
    line-height: 18px;
    text-align: start;
    flex-basis: 0;
    position: relative; 
    left: 40%;   
}

.contain{
    margin-top: 100px;
    position: relative; 
    left: 10%;
}

