.FeedPost, .postContent, .songInfo, .playInfo, .postComments, .initialComment, .posterInfo{
    display: flex;
}

.FeedPost, .songInfo, .playInfo, .postComments, .postHeader {
    flex-direction: column;
}

.initialComment, .posterInfo {
    flex-direction: row;
}

.user, .comment {
    margin: 10px;
    font-size: 15px;
}

.commentsTitle {
    align-items: center;
    justify-content: center;
}

.seeMore {
    font-size: 10px;
    margin-left: 20px;
}

.albumImage {
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.FeedPost {
    width: 400px;
    border-bottom-style: solid;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 2px 2px 4px #000000;
}

.postHeader {
    position: relative;
   
}

.musicPlayer {
    position: absolute;
    color: white;
    border: none;
    z-index: 1;

    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
 
}

.playButton {
    
    opacity: 0.9;
    
}

.description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-indent: 5px;
}

.songInfo {
    font-style: oblique;
}

.username {
    transition-duration: .04s;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.username:hover{
    color: purple;
    text-decoration: underline;
}

.postContent{
    text-indent: 10px;
}