   html,body {
    background: #efefef;
    font-family: "Arial";
}

.flex-container {
    bottom: 50px;
}

.profPic {
    border-radius: 50%;
    position: relative;
    right: 30%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative; 
    left: 20%;
}

.Profile {
    padding: 30px 20px 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.ProfileHeader {
    font-size: 14px;
    line-height: 18px;
    text-align: start;
    flex-basis: 0;
    position: relative; 
    left: 40%;   
}

.button1{
    background-color: #6f567d; /* Green */
    border: 2px solid whitesmoke; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  
}

.button1:hover{
    background-color: white; /* Green */
  color: gray;
  border: 2px solid gray; /* Green */
}
